.css-middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.css-search-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94a3b8;
  width: 824px;
  height: 60px;
  border-radius: 8px;
  padding: 20px;
  border-width: 0;
  background-color: #2f2f43;
  color: #94a3b8;
}

.css-input-itself {
  width: 824px;
  height: 60px;
  border-radius: 8px;
  padding: 20px;
  border-width: 0;
  background-color: #2f2f43;
  color: #94a3b8;
}

.css-search-icon {
  width: 30px;
  margin-right: 10px;
  color: #94a3b8;
}

.css-cases-icon {
  width: 30px;
  margin-bottom: 15px;
}

.css-allcases-container {
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  list-style-type: none;
}

.css-cases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 142px;
  margin: 30px;
}

.css-confirmed {
  color: #ff073a;
}

.css-Active {
  color: #007bff;
}

.css-Recovered {
  color: #28a745;
}

.css-Deceased {
  color: #6c757d;
}

.css-table-container {
  width: 1146px;
  /* height: 2080px; */
  background: #1e1e30;
  /* Light / blue-gray / 600 */
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.css-button-asc-desc {
  background-color: transparent;
  border-width: 0;
}

.css-backgroundColor-stateCode {
  background: rgba(28, 212, 212, 0.16);
  color: #facc15;
  border-radius: 5px;
  width: 80px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-link-styling {
  text-decoration: none;
}

.css-link-styling:hover {
  text-decoration: none;
}

.css-searchResults-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.css-searchContainer-after-filtering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 824px;
  height: 70px;
  padding: 20px;
  color: #94a3b8;
}

.css-search-icon-BiChevronRightSquare {
  color: #facc15;
  /* width: 40px; */
  margin-left: 15px;
}
