.css-about-container {
  padding-left: 150px;
  padding-right: 150px;
  background-color: #161625;
  color: #f8fafc;
}

.css-question-para {
  color: #94a3b8;
  font-weight: bold;
}

.css-answer-para {
  color: #007bff;
  font-weight: bold;
  margin: 0;
}

/* .css-question-answer-container {
  margin: 30px;
} */
